@import "config";

footer { /* stylelint-disable-line */
  font-family: $font-main;
  background-color: $color-6;

}

.footer__content {
  display: flex;
  max-width: $max-width;
  margin: 0 auto;
  flex-direction: row;
  flex-wrap: wrap;
}

.footer__col {
  display: flex;
  margin-top: $gutter / 2;
  margin-bottom: $gutter / 2;
  flex-direction: column;
  @include columns(6);
}

@media (min-width: 1000px) {
  .footer__col {
    @include columns(3);
  }
}

.footer__list {

  list-style: none;

  a {
    color: $color-5;
    text-decoration: none;
    transition: color $transition;

    &:hover { /* stylelint-disable-line */
      color: $color-1;
    }

  }
}

.footer__copyright {
  display: flex;
  justify-content: center;
}
