@import "config";

header{
  background-color: $color-3;
}

.header__title{
  display: flex;
  justify-content: center;
  font-family: $font-heading;
  margin-bottom: 20px;
}

.header__content{
  display: flex;
  font-family: $font-main;
  justify-content: center;
  flex-direction: column;
  @include columns (12);
  padding-bottom: 20px;  
  margin: 0 auto;
  max-width: $max-width;
  
  a{
    color: $color-1;
    text-decoration: none;

    &:hover{
      color: $color-2;
      transition: color $transition;
    }
  }
}

.header__sites{
  text-transform: uppercase;
  display: flex;
  justify-content: space-around;
  margin-bottom: 10px;

  a{
    font-weight: bold;
  }
}

.header__cart{
  display: flex;
  justify-content: center;
}

@media(min-width: 501px){
  .header__content{ 
    flex-direction: row;
    justify-content: flex-end;  
    position: relative;
  }
  
  .header__sites{
    max-width: 300px;
    margin: 0 auto;
    display: flex;
    flex: 1;
  }

  .header__cart{
    display: flex;
    position: absolute;

  }
}