@import "config";

  header{
    background-color: $color-3;
  }
  .header__title{
    display: flex;
    justify-content: center;
    font-family: 'Oswald', Verdana, serif;
    margin-bottom: 20px;
  }
  .header__content{
      display: flex;
      font-family: 'Open sans', Helvetica, Arial, sans-serif;
      justify-content: center;
      flex-direction: column;
      
      
      a{
        color: $color-1;
        text-decoration: none;

      &:hover{
        color: $color-2;
      }
    }
  }
  .header__sites{
    text-transform: uppercase;
    display: flex;
    justify-content: space-around;
    margin-bottom: 10px;


    a{
      font-weight: bold;
    }
       

  }
  .header__cart{
    display: flex;
    justify-content: center;
  }
  @media(min-width: 501px){
    .header__content{ 
      flex-direction: row;
    }
    .header__sites{
     flex-direction: center;
     max-width: 300px;
     flex-grow: 1;
      
    }
    .header__cart{
      justify-content: flex-end;
    }

  }
  
  
  
  