@import "config";

header { /* stylelint-disable-line */
  background-color: $color-3;
}

.header__title {
  display: flex;
  justify-content: center;
  margin-bottom: $gutter;
  font-family: $font-heading;
}

.header__content {
  display: flex;
  max-width: $max-width;
  padding-bottom: $gutter;
  margin: 0 auto;
  font-family: $font-main;
  justify-content: center;
  flex-direction: column;
  @include columns (12);

  a {
    color: $color-1;
    text-decoration: none;

    &:hover { /* stylelint-disable-line */
      color: $color-2;
      transition: color $transition;
    }
  }
}

.header__sites {
  display: flex;
  margin-bottom: $gutter / 2;
  text-transform: uppercase;
  justify-content: space-around;

  a { /* stylelint-disable-line */
    font-weight: bold;
  }
}

.header__cart {
  display: flex;
  justify-content: center;
}

@media (min-width: 501px) {
  .header__content {
    position: relative;
    flex-direction: row;
    justify-content: flex-end;
  }

  .header__sites {
    display: flex;
    max-width: 300px;
    flex: 1;
    margin: 0 auto;
  }

  .header__cart {
    position: absolute;
    display: flex;
  }
}
