@import "config";

.index__cards {
  display: flex;
  margin-bottom: 20px;
  flex-direction: column;
}

.index__card {
  @include columns(12);
  padding-right: 0;
  padding-left: 0;
}

.index__img {
  width: 100%;
}

.index__content {
  margin-bottom: 30px;

  p { /* stylelint-disable-line */
    margin-bottom: 20px;
  }

  h2 { /* stylelint-disable-line */
    margin-bottom: 20px;
  }
}

.index__button {

  width: 120px;
  height: 30px;
  font-size: 12px;
  color: $color-1;
  background-color: $color-6;
  border: solid 1px $color-6;
  border-radius: 2px;
  transition: background-color $transition;
  @include columns(8);
}

.index__button:hover {
  color: $color-6;
  background-color: $color-1;
  border-color: $color-1;
}

@media (min-width: 501px) {
  .index__cards {
    flex-wrap: wrap;

    .index__card:nth-of-type(2) {
      .index__content { /* stylelint-disable-line */
        order: 1;
      }
    }
  }

  .index__card {
    display: flex;
    padding-right: 0;
    padding-left: 0;
    margin-top: 15px;
    flex-direction: row;
    align-items: center;

    @include columns (12);
  }

  .index__content {
    @include columns(6);
  }

  .index__image {
    @include columns(6);
  }
}
