main {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: "Open Sans", Arial, sans-serif;
    font-size: 16px;
}

h1 {
  font-family: 'Oswald', Verdana, serif;
  font-size: 2.5em;
}

/*Setja h1 og main beint inn í styles.scss?*/

h2 {
  font-family: 'Oswald', Verdana, serif;
  font-weight: bold;
}

.grid__row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.grid__row2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 40px;
    margin-top: 40px;
  }

.grid__col {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.grid__col2 {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }

.grid__image {
  padding-right: 10px;
  padding-left: 10px;
  max-width: 100%;
}
.image__image {
  max-width: 100%;
}

.grid__form {
    display: flex;
    flex-direction: row;
    height: 30px;
}

.form__text {
    width: 100px;
}
.form__button {
    margin-right: 5px;
    margin-left: 5px;
    background-color: #ffffff;
    color: #000000;
    border: solid 1px #afb281;
    border-radius: 2px;
    transition: background-color 300ms ease-in-out;
    height: 100%;
    width: 120px;
}

.form__button:hover {
    background-color: #cc9694;
    border-color: #cc9694;
}

.grid__form2 {
    display: flex;
    /*flex-direction: column;*/
    flex-direction: row;
    justify-content: space-between;
}

.form2__labels {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form2__choose {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    width: 75%
}

.choose__information {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding: 0px;
    margin: 10px;
    height: 30px;
}

.buybutton {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
}
.buybutton__button {
    border-style: solid;
    border-color: #cc9694;
    border-width: 5px;
    /*border-right-width: 60px;
    border-left-width: 60px;*/
    width: 250px;
    border-radius: 4px;
    background-color:#cc9694;
    color: #000000;
    transition: background-color 300ms ease-in-out, border-color 300ms ease-in-out;
}


.buybutton__button:hover {
    color: #cc9694;
    border-color: #000000;
    background-color: #000000;
}

  @media (max-width: 749px) {
    
    main {
        padding: 10px;
    }

    .grid__row {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }
    .grid__row2 {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }
    .grid__image {
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
        padding-left: 0px;
        width: 100%
    }
    .grid__col {
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    .grid__col2 {
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    .form__text {
        width: 33.33333%;
    }

    .form2__choose {
        padding-left: 0px;
    }
  
  }

  @media (min-width: 750px) {
    
    .grid__row {
        flex-direction: row;
    }
    .grid__row2 {
        flex-direction: row;
    }
    .grid__image {
        width: 50%;
    }
    .image__image {
        max-width: 100%;
        max-height: 100%;
    }
  }

  @media (min-width: 1200px) {
    .grid__col2 {
        max-width: 33.33333%;
    }
    .grid__row2 {
        padding-left: 200px;
    }
  }


  /*Hafa mismunandi div á col fyrir ofan og neðan?*/