@import "config.scss";

.cart__row {
  display: flex;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  flex-direction: column;

  @media (min-width: 750px) {
    margin-left: -10px;
    flex-direction: row;
  }
  @media (min-width: 1200px) {
    margin-left: -20px;
  }
}

.cart__row2 {
  display: flex;
  width: 100%;
  margin-top: 40px;
  margin-bottom: 40px;
  flex-direction: column;

  @media (min-width: 750px) {
    flex-direction: row;
  }
  @media (min-width: 1200px) {
    padding-left: 17%;
  }
}

.cart__col {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 750px) {
    margin-left: 20px;
  }
  @media (min-width: 1200px) {
    margin-left: 25px;
  }
}

.cart__col2 {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;

  @media (min-width: 750px) {
    @include columns(6);
  }
  @media (min-width: 1200px) {
    @include columns(5);
  }
}

.cart__image {
  max-width: 100%;

  @media (min-width: 750px) {
    @include columns(6);
    padding-left: 10px;
  }
  @media (min-width: 1200px) {
    padding-left: 0;
  }
}

.image__image {
  max-width: 100%;

  @media (min-width: 750px) {
    max-height: 100%;
  }
}

.cart__form {
  display: flex;
  height: 30px;
  flex-direction: row;

}

.form__text {
  @include columns(4);

  @media (min-width: 750px) {
    width: 100px;
  }
}

.form__button {
  width: 120px;
  height: 100%;
  margin-right: 5px;
  margin-left: 5px;
  color: $color-1;
  background-color: $color-2;
  border: solid 1px $color-3;
  border-radius: 2px;
  transition: background-color $transition;

  &:hover {
    background-color: $color-6;
    border-color: $color-6;
  }

}

.cart__form2 {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
}

.form2__labels {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
}

.form2__choose {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  @include columns(8);
}

.choose__information {
  display: flex;
  height: 30px;
  margin: 10px;
  flex-direction: row;
  justify-content: space-between;
}

.buybutton {
  display: flex;
  justify-content: center;
  width: 100%;
  padding: 10px;

  &__button {
    width: 250px;
    color: $color-1;
    background-color: $color-6;
    border-color: $color-6;
    border-style: solid;
    border-width: 5px;
    border-radius: 4px;
    transition: background-color $transition, border-color $transition;

    &:hover {
      color: $color-6;
      background-color: $color-1;
      border-color: $color-1;
    }

  }
}
