@import "config.scss";

main {
    margin: 0 auto;
    max-width: 1200px;
    padding-left: 20px;
    padding-right: 20px;
    font-family: $font-main;
    /*font-family: "Open Sans", Arial, sans-serif;*/
    font-size: 16px;
}

h1 {
  /*font-family: 'Oswald', Verdana, serif;*/
  font-family: $font-heading;
  font-size: 2.5em;
}


/*Setja h1 og main beint inn í styles.scss?*/

h2 {
  font-family: $font-heading;
  font-weight: bold;
}

.cart__row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: -10px;
  margin-right: -10px;
  margin-bottom: 40px;
  margin-top: 40px;
}
.cart__row2 {
    display: flex;
    flex-direction: column;
    width: 100%;
    margin-left: -10px;
    margin-right: -10px;
    margin-bottom: 40px;
    margin-top: 40px;
}

.cart__col {
  width: 100%;
  padding-right: 10px;
  padding-left: 10px;
  display:flex;
  flex-direction: column;
  justify-content: space-between;
}
.cart__col2 {
    width: 100%;
    padding-right: 10px;
    padding-left: 10px;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
  }

.cart__image {
  padding-right: 10px;
  padding-left: 10px;
  max-width: 100%;
}
.image__image {
  max-width: 100%;
}

.cart__form {
    display: flex;
    flex-direction: row;
    height: 30px;
}

.form__text {
    width: 100px;
}
.form__button {
    margin-right: 5px;
    margin-left: 5px;
    background-color: $color-2;
    color: $color-1;
    border: solid 1px $color-3;
    border-radius: 2px;
    transition: background-color $transition;
    height: 100%;
    width: 120px;
}

.form__button:hover {
    background-color: $color-6;
    border-color: $color-6;
}

.cart__form2 {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}

.form2__labels {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
}

.form2__choose {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    /*width: 75%;*/
    @include columns(8);
}

.choose__information {
    display: flex;
    flex-direction: row;
    justify-content: space-between; 
    padding: 0px;
    margin: 10px;
    height: 30px;
}

.buybutton {
    display: flex;
    justify-content: center;
    padding: 10px;
    width: 100%;
}
.buybutton__button {
    border-style: solid;
    border-color: $color-6;
    border-width: 5px;
    /*border-right-width: 60px;
    border-left-width: 60px;*/
    width: 250px;
    border-radius: 4px;
    background-color:$color-6;
    color: $color-1;
    transition: background-color $transition, border-color $transition;
}


.buybutton__button:hover {
    color: $color-6;
    border-color: $color-1;
    background-color: $color-1;
}

  @media (max-width: 749px) {
    
    main {
        padding: 10px;
    }

    .cart__row {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }
    .cart__row2 {
        margin-left: 0px;
        margin-right: 0px;
        padding-left: 0px;
        padding-right: 0px;
        width: 100%;
    }
    .cart__image {
        margin-left: 0px;
        margin-right: 0px;
        padding-right: 0px;
        padding-left: 0px;
        width: 100%
    }
    .cart__col {
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    .cart__col2 {
        padding: 0px;
        margin: 0px;
        width: 100%;
    }
    .form__text {
        /*width: 33.33333%;*/
        @include columns(4);
    }

    .form2__choose {
        padding-left: 0px;
    }
  
  }

  @media (min-width: 750px) {
    
    .cart__row {
        flex-direction: row;
    }
    .cart__row2 {
        flex-direction: row;
    }
    .cart__col2 {
        @include columns(6);
    }
    .cart__image {
        /*width: 50%;*/
        @include columns(6);
    }
    .image__image {
        max-width: 100%;
        max-height: 100%;
    }
  }

  @media (min-width: 1200px) {
    .cart__col2 {
        @include columns(4);
    }
    .cart__row2 {
        padding-left: 200px;
    }
  }
