@import "config.scss";

.products__row {
  display: flex;
  width: 100%;
  margin-top: 40px;
  margin-right: 0;
  margin-bottom: 40px;
  margin-left: 0;
  flex-direction: column;
  @media (min-width: 750px) {
    flex-wrap: wrap;
    flex-direction: row;
  }
}

.product__content {
  margin-bottom: 20px;
}

.product__title {
  font-family: $font-heading;
}

.products__col {
  display: flex;
  width: 100%;
  flex-direction: column;
  justify-content: space-between;
  @media (min-width: 750px) {
    @include columns(6);
    flex-wrap: wrap;
  }

  @media (min-width: 1000px) {
    @include columns(4);
  }
}

@media (min-width: 750px) {
  .product__text {
    display: flex;
    height: 27vh;
    flex-direction: column;
    justify-content: space-between;

  }

  .product__description {
    flex: 1;
  }

  .product__button {
    align-items: baseline;
    font-size: 12px;
  }
}

.product__image {
  max-width: 100%;
  padding-right: 0;
  padding-left: 0;
  margin-top: $gutter;
}

.product__img {
  max-width: 100%;
}

.product__meta {
  display: flex;
  height: 30px;
  flex-direction: column;
}

.product__form {
  display: flex;
  margin-bottom: 2*$gutter;
  flex-direction: row;
  justify-content: space-between;
}

.product__input {
  @include columns(7);
  height: 30px;
}

.product__button {
  width: 120px;
  height: 30px;
  margin-right: 5px;
  margin-left: 5px;
  color: $color-1;
  background-color: $color-2;
  border: solid 1px $color-3;
  border-radius: 2px;
  transition: background-color $transition;
  @include columns(4);

  &:hover {
    background-color: $color-6;
    border-color: $color-6;
  }

}
