@import "config.scss";

.products__row {
  display: flex;
  flex-direction: column;
  width: 100%;
  margin-left: 0px;
  margin-right: 0px;
  margin-bottom: 40px;
  margin-top: 40px;
  @media(min-width: 750px) {
      flex-wrap: wrap;
      flex-direction: row;
  }
}

.product__content {
    margin-bottom: 20px;
}

.product__title {
    font-family: $font-heading;
}


.products__col {
    width: 100%;
    display:flex;
    flex-direction: column;
    justify-content: space-between;
    @media(min-width: 750px) {
        @include columns(6);
        flex-wrap: wrap;
    }   
    @media(min-width: 1000px) {
        @include columns(4);
        
    }
}

.product__description {
  display: flex;
  flex-grow: 1;
}

.product__image {
  padding-right: 0px;
  padding-left: 0px;
  max-width: 100%;
}

.product__img {
  max-width: 100%;
}

.product__meta {
    display: flex;
    flex-direction: row;
    height: 30px;
}

.product__input {
    @include columns(4);
}
.product__button {
    margin-right: 5px;
    margin-left: 5px;
    background-color: $color-2;
    color: $color-1;
    border: solid 1px $color-3;
    border-radius: 2px;
    transition: background-color $transition;
    height: 100%;
    width: 120px;

    &:hover {
      background-color: $color-6;
      border-color: $color-6; 
    }
}