@import "config.scss";

.stcards {
    display: flex;
    flex-direction: column;
}

.stcards__row {
    display: flex;
    flex-direction: column;
    padding-top: 20px;

    @media (min-width: 750px) {
        flex-direction: row;
    }
}
.stcards__col {
    @include columns(12);

    @media (min-width: 750px) {
        @include columns(6);
    }    
}

.stcard {
    transform-style: preserve-3d; /* stackast í þrívídd */
    transition: $transition;
    position: relative;
    width: 100%;
}
.stcards__col:hover .stcard {
    transform: rotateY(180deg);
}
.face {
    width: 100%;
    backface-visibility: hidden; /* ekki sýna það sem er á bakvið */
}

.face.back {
    display: block;
    transform: rotateY(180deg); /* sjáum ekki bakhliðina strax */
    font-size: 36px;
  }

.stcard__image {
    @include columns(12);
}

.staff__image {
    @include columns(12);
}


