@import "config.scss";

.stcards {

  display: flex;
  margin-bottom: $gutter;
  flex-direction: column;

  &__row {
    @include row();

    flex-direction: column;

    @media (min-width: 750px) {
      flex-direction: row;
    }
  }

  &__col {
    @include columns(12);

    @media (min-width: 750px) {
      @include columns(6);
    }

    &:hover .stcard {
      transform: rotateY(180deg);
    }

  }
}

.stcard {
  position: relative;
  height: 100%;
  margin-top: $gutter;
  transition: $transition;
  transform-style: preserve-3d; /* stackast í þrívídd */

  &::before {
    display: block;
    padding-top: 150%;
    content: "";
  }
}

.face {
  backface-visibility: hidden; /* Bakhliðin er falin */
  position: absolute;

  top: 0;
  right: 0;
  bottom: 0;
  left: 0;

  &.front {
    position: absolute;
    height: 100%;
  }

  &.back {
    display: flex;
    padding: $gutter;
    font-size: 1.5em;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    transform: rotateY(180deg); /* bakhliðin sést ekkistrax */
  }
}

.staff__image {
  max-width: 100%;
}
