h2 {
    font-family: $font-heading;
    font-weight: bold;
}

.stcards__row {
    display: flex;
    flex-direction: column;
}

.stcard {
    position: absolute;
    left: 0; right: 0; top: 0; bottom: 0;
    transform-style: preserve-3d; /* stackast í þrívídd */
    transition: $transition;
}
.stcards__col:hover .stcard {
    transform: rotateY(180deg);
}
.face {
    position: absolute;
    width: 100%;
    height: 100%;
    backface-visibility: hidden; /* ekki sýna það sem er á bakvið */
}

.face.back {
    display: block;
    transform: rotateY(180deg); /* sjáum ekki bakhliðina strax */
    font-size: 36px;
  }

.stcard__image {
    @include columns(12);
}
.staff__image {
    @include columns(12);
    height: auto;    
}
