@import "config.scss";

main {
    margin: 0 auto;
    max-width: $max-width;
    padding-left: 20px;
    padding-right: 20px;
    font-family: $font-main;
    /*font-family: "Open Sans", Arial, sans-serif;*/
    font-size: 16px;
}

h1 {
    /*font-family: 'Oswald', Verdana, serif;*/
    font-family: $font-heading;
    font-size: 2.5em;
  }

h2 {
    font-family: $font-heading;
    font-weight: bold;
}

.stcards__row {
    display: flex;
    flex-direction: column;

    @media (min-width: 750px) {
        flex-direction: row;
    }
}
.stcards__col {

    @include columns(12);

    @media (min-width: 750px) {
        @include columns(6);
    }    
}
/*Mætti prófa að setja mismunandi div á efri tvær og neðri tvær myndir*/
.stcard {
    transform-style: preserve-3d; /* stackast í þrívídd */
    transition: $transition;
}
.stcards__col:hover .stcard {
    transform: rotateY(180deg);
}
.face {
    /*width: 100%;
    height: 100%;*/
    backface-visibility: hidden; /* ekki sýna það sem er á bakvið */
}

.face.back {
    display: block;
    transform: rotateY(180deg); /* sjáum ekki bakhliðina strax */
    font-size: 36px;
  }

.stcard__image {
    @include columns(12);
}

.staff__image {
    @include columns(12);
}


