
// TODO sækja allar sass skrár
@import "scss/index.scss";
@import "scss/karfa.scss";
@import "scss/products.scss";
@import "scss/config";
@import "scss/header.scss";
@import "scss/staff.scss";
@import "scss/footer.scss";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
}

main { /* stylelint-disable-line */
  max-width: $max-width;
  padding-right: $gutter;
  padding-left: $gutter;
  margin: 0 auto;
  font-family: $font-main;
  font-size: 16px;
}

h1 { /* stylelint-disable-line */
  font-family: $font-heading;
  font-size: 3em;
}

h2 { /* stylelint-disable-line */
  font-family: $font-heading;
  font-size: 2.25em;
  font-weight: bold;
}
h3 { /* stylelint-disable-line */
  font-family: $font-heading;
  font-size: 1.5em;
}
h4 { /* stylelint-disable-line */
  font-family: $font-heading;
  font-size: 1.3125em;
}
h4 { /* stylelint-disable-line */
  font-family: $font-heading;
  font-size: 1.3125em;
}
