
// TODO sækja allar sass skrár
@import "scss/index.scss";
@import "scss/karfa.scss";
/*@import "scss/products.scss";*/
@import "scss/config";
@import "scss/header.scss";
@import "scss/staff.scss";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  // TODO fleiri grunn stillingar

}