
// TODO sækja allar sass skrár
@import "scss/index.scss";
@import "scss/karfa.scss";
@import "scss/products.scss";
@import "scss/config";
@import "scss/header.scss";
@import "scss/staff.scss";
@import "scss/footer.scss";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
  // TODO fleiri grunn stillingar

}

main {
  margin: 0 auto;
  max-width: $max-width;
  padding-left: 20px;
  padding-right: 20px;
  font-family: $font-main;
  font-size: 16px;
}

h1 {
  font-family: $font-heading;
  font-size: 3em;
}

h2 {
  font-family: $font-heading;
  font-weight: bold;
  font-size: 2.5em;
}
h3 {
  font-family: $font-heading;
  font-size: 2em;
}
