
// TODO sækja allar sass skrár
@import "scss/index.scss";
@import "scss/karfa.scss";
@import "scss/products.scss";
@import "scss/config";
@import "scss/header.scss";
@import "scss/staff.scss";
@import "scss/footer.scss";

* {
  padding: 0;
  margin: 0;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

html { /* stylelint-disable-line */
  box-sizing: border-box;
  overflow-x: hidden;
}

main { /* stylelint-disable-line */
  max-width: $max-width;
  padding-right: 20px;
  padding-left: 20px;
  margin: 0 auto;
  font-family: $font-main;
  font-size: 16px;
}

<<<<<<< HEAD
h1 { /* stylelint-disable-line */
=======
h1 {
>>>>>>> cbfc4f04d677e5f882f2f96e1b3f63f4c3238420
  font-family: $font-heading;
  font-size: 3em;
}

h2 { /* stylelint-disable-line */
  font-family: $font-heading;
  font-size: 2.5em;
  font-weight: bold;
}
h3 { /* stylelint-disable-line */
  font-family: $font-heading;
  font-size: 2em;
}
